<div >
  <h2>Formulaire d'ajout d'employé</h2>
  <form action="/dashboardPage" method="post" id="formEmploye" enctype="multipart/form-data">
    <input type="text" id="nom" name="name" placeholder="Nom :"><br>
    <input type="text" id="fonction" name="fonction" placeholder="Fonction :" ><br>
    <input type="file" id="photo" name="image" accept="image/*" placeholder="Photo :"><br><br>
    <button type="submit">Ajouter</button>
  </form>
</div>