<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet RH</title>
    <link rel="stylesheet" href="/css/dashboard/style.css">
    {% block style %}{% endblock %}
    
</head>
<body>

{% block header %}
{% include "./globalPartials/_headerDash.twig" %}
{% endblock %}

<main>
{% block main %}

{% endblock %}
</main>

{% block footer %}
{% include "./globalPartials/_footer.twig" %}
{% endblock %}

<script src="js/script.js"></script>
    
</body>
</html>