<header>
	<div class="header" >
		<div>
			<img src="/images/rh.png" width="150px" alt="logo">
		</div>
		<div class="buttons">
			<a href="/logout" class="btn">Déconnexion</a>
		</div>
	</div>
</header>