<header>
	<div class="header" >
		<div>
			<img src="./images/rh.png" width="150px" alt="logo">
		</div>
		<div class="buttons">
			<a href="./addFormPage" class="btn">Inscription</a>
			<a href="./loginPage" class="btn">Connexion</a>
		</div>
	</div>
</header>
